@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  height: 100%;
}
body {
  background-image: url(../bg-image.png);
}
.wrapper {
  display: grid;
  grid-template-rows: repeat(3, auto);
}
.main {
  min-height: calc(100vh - 5rem);
}
.footer {
  grid-row-start: 3;
}
