@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  height: 100%;
}

body {
  background-image: url(../public/bg-image.png);
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.main{
  flex: 1 1 auto;
}
.card {
  position: relative;
}

.card__link a{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}

/* Custom media */
@media (max-width: 640px) {
  .header__button{
      justify-self: center;
  }
  .cars__title{
    grid-template-columns: 1fr;
  }
  .child-cars{
    grid-template-columns: 1fr 1fr;
  }
  .parts__group-list {
    grid-template-columns: 1fr 1fr;
    justify-items: center;
  }
}